@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-page="./Wizard/Index">Open the wizard</a></p>
    <p><a asp-page="./ContactDirectory/Index">Open contacts directory</a></p>
</div>
